html,
body,
#root{
  height: 100%;
}

.gallery {
  display: flex;
  height: 100%;
}
.gallery > * {
  height: 100%;
}

.albums {
  width: 20%;
  background: #eee;
}

.photos {
  width: 80%;
  padding: 0 24px;
}

.albums__title,
.photos__title {
  margin: 0;
  padding: 24px;
  border-bottom: 2px solid #ccc;
}

.albums-list {
  margin:0;
  padding: 0;
  list-style: none;
  height: calc(100% - 68px);
  overflow-y: auto;
}
.albums-list__item {
  padding: 8px 24px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.albums-list__item:hover {
  background: rgba(0,0,0,.05);
}

.albums-list__item--active {
  background: rgba(0,0,0,.1);
}